:host {
    display: block;
}

.field {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    &__img {
        display: block;
        width: 70%;
    }

    &__img--mobile {
        display: none;
    }
}

@media (width <= 429px) {
    .field {
        &__img {
            display: none;
        }

        &__img--mobile {
            display: block;
            width: 100%;
        }
    }
}