@if (alexandriaPlaces$ | async; as places) {
  <div class="toolbar">
    @for (place of places; track place.id) {
      <button
        class="toolbar__buttons"
        [routerLink]="place.path">
        {{ place.title }}
      </button>
    }
  </div>
}
@if (startPicture()) {
  @if (alexandria$ | async; as alexandria) {
    <h2 class="title">{{ alexandria.title }}</h2>
  }
  <div class="field">
    <img
      class="field__img"
      src="assets/pic/alexandria/alexandria-field.webp"
      alt="picture" />
    <img
      class="field__img-mobile"
      src="assets/pic/alexandria/alexandria-field-mobile.webp"
      alt="picture" />
  </div>
}
<router-outlet></router-outlet>
