
.toolbar {
    background-color: var(--main-yellow);
    justify-content: space-between;

    &__title {
      align-items: flex-end;
      display: flex;
      &__logo {
        height: 50px;
        width: 50px;
      }

      &__logo-title {
        display: flex;
        flex-direction: column;
        gap: 2px;
        &__main-name {
          height: 23px;
        }
        &__second-name {
          font-size: 15px;
          line-height: 15px;
        }
      }
    }
}

.dropdown {
  border-radius: 0;
}
