<section class="app">
  <mat-toolbar class="toolbar">
    <div class="toolbar__title">
      <img
        class="toolbar__title__logo"
        src="../assets/icon/logo.png"
        alt="logo" />
      <div class="toolbar__title__logo-title">
        <img
          class="toolbar__title__logo-title__main-name"
          src="../assets/icon/logo-title.png"
          alt="title" />
        <div class="toolbar__title__logo-title__second-name">
          {{ 'Toolbar' | translate }}
        </div>
      </div>
    </div>
    <div class="toolbar__title__menu">
      <button
        class="example-icon dropdown"
        (click)="openEnd(menu)"
        mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <button
        class="example-icon"
        mat-icon-button>
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <ng-template
    #menu
    let-offcanvas>
    <div class="menu">
      <mat-accordion>
        <mat-expansion-panel
          class="mat-elevation-z0"
          hideToggle>
          <mat-expansion-panel-header class="button-menu">{{ 'Menu.Peterhof.Peterhof' | translate }} </mat-expansion-panel-header>
          <button class="button-menu accordion-menu">
            {{ 'Menu.Peterhof.Upper' | translate }}
          </button>
          <button class="button-menu accordion-menu">
            {{ 'Menu.Peterhof.Palace' | translate }}
          </button>
          <button class="button-menu accordion-menu">
            {{ 'Menu.Peterhof.Lower' | translate }}
          </button>
        </mat-expansion-panel>
      </mat-accordion>
      <button class="button-menu">
        {{ 'Menu.Alexandria' | translate }}
      </button>
      <button class="button-menu">
        {{ 'Menu.Colonial' | translate }}
      </button>
      <button class="button-menu">
        {{ 'Menu.Meadow' | translate }}
      </button>
      <button class="button-menu">
        {{ 'Menu.Alexandrian' | translate }}
      </button>
      <button class="button-menu">
        {{ 'Menu.English' | translate }}
      </button>
      <button class="button-menu">
        {{ 'Menu.Hare' | translate }}
      </button>
      <button class="button-menu">
        {{ 'Menu.Self' | translate }}
      </button>
    </div>
  </ng-template>
</section>
