:host {
  ::ng-deep {
    .menu-nav {
      width: 220px !important;
      height:min-content;
      margin-top: 64px;
    }

    .menu-background {
      background-color: transparent;
    }

    .mat-expansion-panel-body {
      padding: 0 0 0 24px !important;
    }
  }
}

.toolbar {
  position: relative;
  z-index: 3;

  justify-content: space-between;

  background-color: var(--main-yellow);
  box-shadow: 0 1px 5px var(--black);

  &__title {
    display: flex;
    align-items: flex-end;

    &__logo {
      width: 50px;
      height: 50px;
    }

    &__logo-title {
      display: flex;
      flex-direction: column;
      gap: 2px;

      &__main-name {
        height: 23px;
      }

      &__second-name {
        font-size: 15px;
        line-height: 15px;
      }
    }
  }
}


.button-menu {
  width: 100%;
  height: 35px;
  padding: 0;
  padding-left: 10px;
  border: 0;
  border-bottom: 1px solid var(--black);

  font-size: 15px;
  font-family: Marmelad, sans-serif;
  text-align: left;
  text-transform: uppercase;

  background-color: var( --gray) !important;
}

.button-menu:hover {
  background-color: var( --main-yellow) !important;
}

.mat-expansion-panel {
  border-radius: 0 !important;
}

.accordion-menu {
  background-color: var(--light-gray) !important;
}

.menu {
  box-shadow: 0 1px 5px var(--black);
}


@media (width <= 429px) {
  :host {
    ::ng-deep {
      .menu-nav {
        width: 200px !important;
        margin-top: 56px;
      }
    }
  }

  .toolbar {
    padding: 0 0 0 5px;
  }

  .button-menu {
    font-size: 13px;
  }

  .button-icon {
    margin-left: -13px;
  }
}





